@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->


<div class="text-center">
    <h1 class="display-4">Welcome To My ASP.NET Core Project</h1>
    <p>This is a example project building based on own interest of ASP.NET Core Framework.</p>
</div>

<div class="text-center">
    <p>Click this <a href="@Url.Action("Index", "Journey")" title="journey">link</a> leading to my summary.
    </p>
</div>