@model VinhSyIntro.Models.Course

@{
    Layout = "_Layout";
}

<h1>Create new Entry</h1>
<!--
    
<form asp-action="Create" asp-controller="Journey">
    <label asp-for="Name">Enter the course name:</label>
    
</form>
    
-->
